/*CSS GENERAL PARA TODA LA APP*/

#loading {
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/*CENTRAR ITEMS NAV BAR*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse{
  text-align: center;
}
/**************************/

/*TAMAÑO ALTURA DEL MENU*/
.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
/****************************/


/*COLOR NAV BAR*/ /*GENERADO EN http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/ 
.navbar-default {
  background-color: #ffffff;
  border-color: #fffcfc;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover/*,
.navbar-default .navbar-brand:focus*/{
  color: #9dee3c;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover/*,
.navbar-default .navbar-nav > li > a:focus*/ {
  color: #85A540;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover/*,
.navbar-default .navbar-nav > .active > a:focus*/ {
  color: #85A540;
  background-color: #fffcfc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover/*,
.navbar-default .navbar-nav > .open > a:focus*/ {
  color: #85A540;
  background-color: #fffcfc;
}
.navbar-default .navbar-toggle {
  border-color: #fffcfc;
}
.navbar-default .navbar-toggle:hover/*,
.navbar-default .navbar-toggle:focus */{
  background-color: #fffcfc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #85A540;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #85A540;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #85A540;
    background-color: #fffcfc;
  }
}

/*DEFECTO FONDO HOVER VERDE QUITADO*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #fffcfc;
	color: #85A540;
}
/*************************/




/*COLORES DE TEXTO GENERAL*/
.titulo-gris{
	color: #9C9C9C;
}

.titulo-verde{
	color: #85A540;
}

.texto-normal-general{
	color: #ffffff;
}

.texto-gris-general{
	color: #878787;
}

.texto-verde-general{
	color: #839F28;
}

.texto-normal{
	color: #ffffff;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.texto-verde{
	color: #839F28;/*OSCURO: 839F28 CLARO:9dee3c*/
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.negritas{
	font-weight: bold;
}

/*FORMULARIO DE CONTACTO*/
.fondo-negro{
	background-color: #000000;
}

.fondo-verde{
	background-color: #c8ef7c;
}

.fondo-gris{
	background-color: #bbbbbb;
}

/*ABAJO PIE DE PAGINA VERDE REDES SOCIALES*/
#footerwrap{
	background-color: #c8ef7c;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

#footerwrap p{
	margin-bottom:0px;	
}

/*TITULO ESPECIAL DIRECTORIO*/
.titulo-especial{
	color: #ffffff;
	background-color: #000000;
	padding: 15px !important;
	border-style: solid;
	border-width: 5px;
	border-color: #BBEE63;
}

/*FILED SET DE TITULO ESPECIAL DIRECTORIO*/
/*.fieldset{
	border-style: solid;
	border-width: 3px;
	border-color: #BBEE63;
}*/

fieldset.fieldset {
	border-style: solid;
	border-width: 3px;
	border-color: #BBEE63;
}

legend.fieldset {
	width: auto;
	margin-bottom: 10px;
	border-bottom:none;    
    text-align: center;
}

/*TITULO ENTRAR*/
.titulo-entrar{
	padding:15px;
}

/*BOTON ENVIAR FORMULARIO*/
.boton-enviar{
	background-color: #000000;
	border-color: #fffcfc;
}

.boton-enviar:hover{
	border-color: #9dee3c;
}

/*LINKS COLORES*/
.link:visited {
    color: #ffffff !important;
}

.link:active {
    color: #9dee3c !important;
}

.link:hover {
    color: #9dee3c !important;
}

.link {
    color: #ffffff !important;
}

/*GLOW DE LOS INPUT*/
.form-control:focus {
  border-color: #9dee3c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(157, 238, 60, 0.6);
}

/*LIN MIEMBROS DEL MENU*/
.link-especial{
	padding: 5px;
	border-style: solid !important;
	border-width: 3px !important;
	border-color: #BBEE63 !important;
	background-color: #000000;
	color: #ffffff;
}

.link-especial:hover{
	border-color: #9dee3c !important;
	color: #9dee3c;
}