/*------------------------------------------------------------------
[Master Stylesheet]

Project:	 Pro Agency
Version:	 1.0
Assigned to:	 WebNik
Primary use:	 Pro Agency
-------------------------------------------------------------------*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Source+Sans+Pro:400,600,700,900,400italic');
@import url('../fonts/flaticon/flaticon.css');
@import url('../fonts/elegant/style.css');
@import url('../fonts/font-awesome/css/font-awesome.min.css');


/* PLUGIN CSS */

@import url('../plugins/bootstrap/css/bootstrap.css');                /* bootstrap */
@import url('../plugins/yamm/yamm.css');                              /* responsive menu */
@import url('../plugins/slider-pro/dist/css/slider-pro.css');         /* main slider */
@import url('../plugins/owl-carousel/owl.carousel.css');              /* other sliders */
@import url('../plugins/owl-carousel/owl.transitions.css');           /* other sliders */
@import url('../plugins/owl-carousel/owl.theme.css');                 /* other sliders */
@import url('../plugins/flexslider/flexslider.css');                  /* slider thumbnails */
@import url('../plugins/isotope/isotope.css');                        /* isotope */
@import url('../plugins/prettyphoto/css/prettyPhoto.css');            /* modal */
@import url('../plugins/jelect/main.css');                            /* select customization */
@import url('../plugins/datetimepicker/jquery.datetimepicker.css');   /* date select */
@import url('../plugins/validation/validation-2.2.min.css');          /* validation */



/* MAIN CSS */

@import url('animate.css');
@import url('preloader.css');
@import url('theme.css');
@import url('sections.css');
@import url('sidebar.css');
@import url('shop.css');
@import url('blog.css');
@import url('responsive.css');
@import url('color.css');
@import url('../contentTools/custom.css');
/*@import url('debugging.css');*/
.yamm .nav > li.active{
    background:#fff600;
    color:black;
}

.yamm .nav > li.active a{
    color:black;
}